<!DOCTYPE html>
<html>
<head>
    <title>Post a Tweet</title>
</head>
<body>
    <form action="/Posttweet" method="get">
          Post Tweet <input type="text" name="tweet">
                     <input type="button" value="Submit">
    </form>
</body>
</html>